{{#each errors}}
	<div class="alert alert-danger">
		{{this}}
	</div>
{{/each}}

<h1>Add a new category</h1>
<form method="POST" action="">
	<label for="name">Name</label>
	<input class="form-control" type="text" name="name" required>
	<br>

	<label for="description">Description</label>
	<input class="form-control" type="text" name="description" required>
	<br>

	<label for="url">URL</label>
	<input class="form-control" type="text" name="url" required>
	<br>
	
	<input type="submit" value="Add">
</form>