{{#each errors}}
	<div class="alert alert-danger">
		{{this}}
	</div>
{{/each}}

<form method="POST">
	<label for="admin_pwd">Insert your password to continue:</label>
	<input class="form-control" type="password" name="admin_pwd"><br>
	<input type="submit" value="Delete item">
</form>