{{#each errors}}
	<div class="alert alert-danger">
		{{this}}
	</div>
{{/each}}

<h1>Update category</h1>
<form method="POST" action="">
	<label for="name">Name</label>
	<input class="form-control" type="text" name="name" value="{{category.name}}" required>
	<br>

	<label for="description">Description</label>
	<input class="form-control" type="text" name="description" value="{{category.description}}" required>
	<br>

	<label for="url">URL</label>
	<input class="form-control" type="text" name="url" value="{{category.url}}" required>
	<br>
	
	<label for="admin_pwd">Insert your password to continue:</label>
	<input class="form-control" type="password" name="admin_pwd"><br>
	
	<input type="submit" value="Add">
</form>