{{#each errors}}
	<div class="error-msg">
		{{this}}
	</div>
{{/each}}

<h1>Add a new item</h1>
<form method="POST" enctype="multipart/form-data">
	<label for="name">Name</label>
	<input type="text" name="name">
	<br>
	
	<label for="description">Description</label>
	<input type="text" name="description">
	<br>
	
	<label for="category">Category</label>
	<select name="category">
		{{#each categories}}
			<option value={{this._id}}>{{this.name}}</option>
		{{/each}}
	</select>
	<br>
	
	<label for="price">Price</label>
	<input type="text" name="price">
	<br>
	
	<label for="stock">Stock</label>
	<input type="number" min=0 name="stock">
	<br>
	
	<label for="url">URL</label>
	<input type="text" name="url">
	<br>

	<label for="photo">Item image</label>
	<input type="file" name="photo">
	<br>
	
	<input type="submit" value="Add">
</form>